.navigation-item {
  padding: 10px;
  text-align: center; 
}

.navigation-item a {
  color: #333333; 
  font-size: 18px;
  transition: color 0.3s;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.navigation-item a:hover {
  color: #ff4500;
}

.navigation-item a.active-page {
  border: 1px solid orange;
  border-radius: 8px;
}