.fondo-pedido-cajera {
  display: flex;
  flex-direction: column;
  background-image: url('../../public/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 100px;
  margin: -10px;
  overflow-y: auto;
}

.fondo-pedido-cajera h2 {
  text-align: center;
  margin-bottom: 20px;
}

.fondo-pedido-cajera table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.fondo-pedido-cajera th,
.fondo-pedido-cajera td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #000;
}

.fondo-pedido-cajera th {
  background-color: #f2f2f2;
}

.fondo-pedido-cajera tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.fondo-pedido-cajera .order-status-select {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
}

.fondo-pedido-cajera .order-status-select:focus {
  border-color: #0066ff;
  box-shadow: 0 0 5px rgba(0, 102, 255, 0.5);
}
